<div
  style="
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div
      style="display: flex; justify-content: space-between; align-items: center; width: 100%;"
    >
      <button color="accent" mat-raised-button (click)="hiddenInput.click()">
        <input style="width: 0; opacity: 0;" #hiddenInput (change)="onNewFile($event)" type="file" accept=".mp3,audio/*">
        Choose File
      </button>

      <span>
        Samples: <strong>{{ samples }}</strong>
      </span>
    </div>

    <canvas #canvas style="border: 1px solid"></canvas>

    <mat-slider
      style="width: 100%"
      min="70"
      [(ngModel)]="samples"
      (change)="onSlider()"
      [max]="5000"
    ></mat-slider>
  </div>
</div>
